- promotion_feature = 'promote_weight_sidebar_dismissed'

- if !@project.feature_available?(:issue_weights) && show_promotions? && show_callout?(promotion_feature)
  .block.js-weight-sidebar-callout.promotion-issue-sidebar{ data: { uid: promotion_feature } }
    .sidebar-collapsed-icon{ data: { toggle: "dropdown", target: ".js-weight-sidebar-callout" } }
      %span{ data: { toggle: "tooltip", placement: "left", container: "body" }, title: _("Weight") }
        = icon('balance-scale')
        %span No
    .title.hide-collapsed
      = _('Weight')
    .dropdown
      .dropdown-menu.promotion-issue-sidebar-message
        .dropdown-title
          %span
            = _('Change Weight')
          %button.dropdown-title-button.dropdown-menu-close{ "aria-label" => _('Close'), :type => "button" }
            %i.fa.fa-times.dropdown-menu-close-icon{ "aria-hidden" => "true", "data-hidden" => "true" }
        %div
          %p
            - if Gitlab::CurrentSettings.should_check_namespace_plan?
              = _('Upgrade your plan to activate Issue weight.')
            - else
              = _('Improve issues management with Issue weight and GitLab Enterprise Edition.')
            = link_to _('Read more'), help_page_path('workflow/issue_weight.html'), class: 'btn-link', target: '_blank'
          %div
            = render 'shared/promotions/promotion_link_project', short_form: true
            = link_to s_("Promotions|Don't show me this again"), '#', class: ['btn', 'js-close', 'js-close-callout']
    .hide-collapsed
      = s_('Promotions|This feature is locked.')
      = link_to s_('Promotions|Upgrade plan') , '#', class: 'btn-link', data: { toggle: "dropdown", target: ".js-weight-sidebar-callout" }
